{% extends "professional_web_app/base.html" %}

{% load static %}

{% block content %}

        <h1>Services</h1>
        {% for service in services %}
        <div><p></p></div>
        <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{service.image.url}}" alt="" style="width: 50%">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h1 class="section-heading mb-4">
                <span class="section-heading-lower" style="color: teal;">{{service.title}}</span>
                <span class="section-heading-upper">{{service.content}}</span>
                </h1>
            </div>
            </div>
        </div>
        </section>
        {% endfor %}

{% endblock %}